@font-face {
    font-family: 'Roadgeek2005SeriesERegular';
    src: url('./../fonts/roadgeek_2005_series_e-webfont.eot');
    src: url('./../fonts/roadgeek_2005_series_e-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/roadgeek_2005_series_e-webfont.woff') format('woff'),
         url('./../fonts/roadgeek_2005_series_e-webfont.ttf') format('truetype'),
         url('./../fonts/roadgeek_2005_series_e-webfont.svg#Roadgeek2005SeriesERegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roadgeek2005SeriesEMRegular';
    src: url('./../fonts/roadgeek_2005_series_em-webfont.eot');
    src: url('./../fonts/roadgeek_2005_series_em-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/roadgeek_2005_series_em-webfont.woff') format('woff'),
         url('./../fonts/roadgeek_2005_series_em-webfont.ttf') format('truetype'),
         url('./../fonts/roadgeek_2005_series_em-webfont.svg#Roadgeek2005SeriesEMRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roadgeek2005Arrows1Regular';
    src: url('./../fonts/roadgeek_2005_arrows_1-webfont.eot');
    src: url('./../fonts/roadgeek_2005_arrows_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/roadgeek_2005_arrows_1-webfont.woff') format('woff'),
         url('./../fonts/roadgeek_2005_arrows_1-webfont.ttf') format('truetype'),
         url('./../fonts/roadgeek_2005_arrows_1-webfont.svg#Roadgeek2005Arrows1Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;

    /* This is to prevent the vertical scrollbar from appearing to expose
       the bottom of the signPost div. */
    overflow-y: hidden;
}

/* 
    This is needed to insure that the click areas of the icons 
    are not partially obscured by the arrow glyphs.
*/
img {
   position: relative;
}

.sky {
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #00A3EF 0%, #ff4500 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(top, #00A3EF 0%, #ff4500 100%);
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #00A3EF 0%, #ff4500 100%);
    height: 500px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.ground {
    background-color: #004000;
    height: 500px;
    left: 0px;
    min-width: 1100px;
    position: absolute;
    text-align: center;
    top: 500px;
    width: 100%;
}
    
.leftGrass {
    border-color: #000000 #000000 #000000 #004000;
    border-style: solid;
    border-width: 0px 0px 400px 400px;
    display: inline-block;
    height: 0px;
    line-height: 0px;
    top: 0px;
    width: 0px;
}

.leftCenterLine {
    border-color: #000000 #000000 #ffff00 #000000;
    border-style: solid;
    border-width: 0px 0px 400px 20px;
    display: inline-block;
    height: 0px;
    line-height: 0px;
    top: 0px;
    width: 0px;
}

.road {
    background-color: black;
    display: inline-block;
    height: 400px;
    top: 0px;
    width: 100px;
}

.gap {
    background-color: black;
    display: inline-block;
    height: 400px;
    top: 0px;
    width: 10px;
}

.rightGrass {
    border-color: #000000 #004000 #000000 #000000;
    border-style: solid;
    border-width: 0px 400px 400px 0px;
    display: inline-block;
    height: 0px;
    line-height: 0px;
    top: 0px;
    width: 0px;
}

.rightCenterLine {
    border-color: #000000 #000000 #ffff00 #000000;
    border-style: solid;
    border-width: 0px 20px 400px 0px;
    display: inline-block;
    height: 0px;
    line-height: 0px;
    top: 0px;
    width: 0px;
}

.signPost {
    -moz-border-radius: 50px;
    background-color: transparent;
    border-color: silver;
    border-radius: 50px;
    border-style: solid;
    border-width: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 100px;
    width: 1000px;

    /* This is to extend the bottom of the div beyond the end of the page */
    height: 1500px;
}

.signGroup {
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 200px;
    width: 1000px;
    z-index: 2;
}

.sign {
    -moz-border-radius: 15px;
    background-color: green;
    border-color: white;
    border-radius: 15px;
    border-style: solid;
    border-width: 5px;
    display: inline-block;
    margin:0 10px 10px 0;
    top: -50px;
    width: 250px;
}

.signIcon {
    margin: 10px 0px 0px 0px;
}

.signText {
    color: white;
    font-family: 'Roadgeek2005SeriesEMRegular';
    font-size: 24pt;
    text-decoration: none;
}

.exitArrow {
    color: white;
    font-family: 'Roadgeek2005Arrows1Regular';
    font-size: 72pt;
    margin-top: -50px;
    margin-bottom: 10px;
}

