body {
    background-color: #000000;
}

.themeList {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -200px 0 0 -200px;
}

.theme {
    margin: 50px;
    text-align: center;
}

.whoami {
    color: #ff7f00;
    font-family: Courier;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

a {
    font-family: Courier;
    font-size: x-large;
    font-weight: bold;
}

a:link {    
    color: #ff7f00;
}

a:visited {    
    color: #964b00;
}
