/* iPhone 6+ portrait only */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px)
and (orientation : portrait) {
  html {
    zoom: 140%;
  }
}
/* iPad portrait only */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : portrait) {
  html {
    zoom: 150%;
  }
}

body {
  background-color: #000000;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)),
              url("./../images/nail_polish.png");
  background-position: center; 
  color: #aaaaaa;
  font-family: Monaco;
  font-size: large;
  line-height: 24px;
  padding-top: 40px;
}

.content {
  display: flex;
  justify-content: center;
  width: auto;
  top: 50px;

}

.editor {
  display: flex;
  flex-flow: column;;
  justify-content: left;
}

.fileTab {
  border-left: 3px #1e90ff solid;
  color: #ffffff;
  font-family: Lucida Grande;
  font-size: small;
  height: 30px;
  text-align: center;
  width: 200px;
}

.gutter {
  color: #666666;
  white-space: pre;
  width: auto;
}

.editPane {
  display: flex; 
  flex-flow: row;
  width: auto;
}

.bio {
    font-weight: bold;
    white-space: pre;
    width: auto;
}

.def {
  color: #00bb00;
}

.string {
  color: #bb7f00;
}

.name {
  color: #00bfff;
}

.keyword {
  color: #aa00ff;
}

a {
  color: #bb7f00;
  font-family: monaco;
  font-size: large;
  font-weight: bold;
}
